<aside class="sidebar">

    <img src="{{ '/images/profile.jpeg' | relative_url }}"
         alt="{{ site.author.name }}"
         class="profile-image">

    <h1>{{ site.author.name }}</h1>

    <p class="position">
        {{ site.author.position }}<br>
        {{ site.author.department }}<br>
        {{ site.author.affiliation }}
    </p>

    <p>
        <a href="https://www.google.com/maps/search/?api=1&query={{ site.author.location | uri_escape }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-location-dot"></i>
            {{ site.author.location }}
        </a>
    </p>

    <p>
        <a href="mailto:{{ site.author.email }}">
            <i class="fa-solid fa-envelope"></i>
            Email
        </a>
    </p>

    <p>
        <a href="{{ '/files/MarcoRando_CurriculumVitae.pdf' | relative_url }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-file-pdf"></i>
            Download CV
        </a>
    </p>

    <p>
        <a href="{{ site.links.scholar }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-graduation-cap"></i>
            Google Scholar
        </a>
    </p>
    
    <p>
        <a href="{{ site.links.orcid }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-orcid"></i>
            ORCID
        </a>
    </p>


    <p>
        <a href="{{ site.links.github }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
            GitHub
        </a>
    </p>

    <p>
        <a href="{{ site.links.linkedin }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a>
    </p>

</aside>
