<aside class="sidebar">

    <img src="{{ '/images/profile.jpeg' | relative_url }}"
         alt="{{ site.author.name }}"
         class="profile-image">

    <h1>{{ site.author.name }}</h1>

    <p class="position">
        Postdoctoral Researcher<br>
        Department of Mathematics<br>
        Université Côte d'Azur, Inria, CNRS, LJAD
    </p>

    <p>
        <a href="https://www.google.com/maps/search/?api=1&query=Nice%2C%20France"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-location-dot"></i>
            Nice, France
        </a>
    </p>
    <p>
        <a href="mailto:{{ site.author.email }}">
            <i class="fa-solid fa-envelope"></i>
            Email
        </a>
    </p>

    <p>
        <a href="{{ '/files/MarcoRando_CurriculumVitae.pdf' | relative_url }}"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-file-pdf"></i>
            Download CV
        </a>
    </p>

    <p>
        <a href="https://scholar.google.com/citations?user=5JrwG0sAAAAJ"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-solid fa-graduation-cap"></i>
            Google Scholar
        </a>
    </p>

    <p>
        <a href="https://github.com/MarcoRando"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
            GitHub
        </a>
    </p>
    
    <p>
        <a href="https://www.linkedin.com/in/marco-rando-8085b6141"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a>
    </p>

    <p>
        <a href="https://orcid.org/0009-0008-3839-1429"
           target="_blank"
           rel="noopener noreferrer">
            <i class="fa-brands fa-orcid"></i>
            ORCID
        </a>
    </p>

</aside>
